:root{
    --darkBlue: #131829;
    --blue: #2A334E;
    --black: #212121;
    --white: #ffffff;
    --darkGray: #373737;
    --fontPrincipal: 'acumin-pro', sans-serif;
}

/* Fonts */
@font-face {
    font-family: acuminPro;
    src: url(/fonts/AcuminPro.otf);
}
@font-face {
    font-family: acuminProBold;
    src: url(/fonts/AcuminPro-Bold.otf);
}
@font-face {
    font-family: acuminProSemiBold;
    src: url(/fonts/AcuminPro-Semibold.otf);
}
@font-face {
    font-family: acuminProLight;
    src: url(/fonts/AcuminPro-Light.otf);
}
@font-face {
    font-family: acuminProMedium;
    src: url(/fonts/AcuminPro-Medium.otf);
}

/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;  /* Con esto el padding no afectará al tamaño del elemento*/
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: acuminPro;
    background-color: var(--darkGray);
}
h1,h2,h3,h4,p{
    color: var(--white);
}
.container{
    max-width: 128rem;
    margin: 0 auto ;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.boton{
    background-color: #1257E0;
    color: var(--white);
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: .4rem;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}
.boton__secundario{
    background-color: transparent;
    color: var(--white);
    text-decoration: none;
    padding: 1rem 1rem;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
}

/* Navegacion principal */
.nav-bg{
    background-color: var(--darkBlue);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.nav-principal{
    
}

.nav-list{
}

.nav-list a{
    color: var(--white);
    text-decoration: none;
    margin: 0 1.5rem;
}

/* Hero */

.hero{
    background-image: url(../img/Guardia-de-Seguridad-OSC.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1507px;
    position: relative;
}
.hero:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, var(--darkGray) 90%), linear-gradient(to left, rgba(0,0,0,0) 50%, var(--darkGray) 110%);
    z-index: 0;
}

.contenido-hero{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2,1fr);
    max-width: 128rem;
    margin: 0 auto ;
    height: 1507px;
    z-index: 1;
}

.first-section{
    max-width: 64rem;
    padding-top: 250px;
    z-index: 1;
}

.first-section h2{
    display: flex;
    font-size: 3.7rem;
    background-color: var(--blue);
    margin-bottom: 0;
    padding: 10px;
    font-family: acuminProBold;
}
.first-section p{
    font-size: 21px;
    font-weight: lighter;
    margin-top: 1rem;
}
.botones__hero{
    display: flex;
    gap: 1rem;
    z-index: 1;
}
.botones__hero a{
    display: flex;
    width: 26%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
}
.boton:hover{
    cursor: pointer;
    color: var(--white)
}
.boton__secundario:hover{
    cursor: pointer;
    color: var(--white)
}

/* Servicios */

.servicios h2,h3{
    margin: 0;
}
.servicios h2{
    font-size: 43px;
    margin-bottom: -5rem;
}
.servicios h3{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: .5rem;
}

.servicios{
    margin-top: auto;
    margin-bottom: 20rem;
    z-index: 1;
}

/* Important numbers */
.important-numbers{
    max-width: 128rem;
    margin: 0 auto;
}
.important-numbers__1{
    display: grid;
    grid-template-columns: 580px 700px;
    justify-content: center;
    text-align: left;
    align-items: center;
}
.important-numbers h2{
    font-family: acuminProBold;
    font-size: 43px;
}
.important-numbers p{
    font-family: acuminProLight;
    font-size: 18px;
}

.important-numbers__2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    text-align: center;
    gap: 7rem;
}
.important-numbers__2 h2{
    font-family: acuminProBold;
    font-size: 60px;
}
.important-numbers__2 p{
    font-family: acuminProLight;
    font-size: 16px;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 3rem 0;
  }

/* Clients */
.clients{

}
.clients__bg{
    
}

/* our clients */
.our_clients{
    background-color: var(--blue);
}
.our_clients__content{
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    padding: 4rem 0;
}
.our_clients__title{
    width: 461px;
    height: 155px;
    margin: 2rem 0;
}
.our_clients__title h2{
    font-family: acuminProBold;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 43px;
    line-height: 52px;
}
.our_clients__title h3{
    font-family: acuminProBold;
    grid-column: 1 / 3;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    margin-top: auto;
}
.our_clients__logos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 804px;
    height: 155px;
    align-items: center;
}
.our_clients__logos img{
    margin: auto;
}

/* faq */
.faq__content{
    max-width: 128rem;
    margin: 0 auto;
}
.faq__titles{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    align-items: center;
}
.faq__titles h2{
    font-family: acuminProBold;
    line-height: 52px;
    font-size: 43px;
    margin-bottom: 2rem;
}
.faq__titles h3{
    font-family: acuminPro;
    line-height: 22px;
    font-size: 18px;
}
.faq__boxes{
    position: relative;
}
.faq__box{
    display: flex;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    padding: 15px;
    margin: 15px 0;
    align-items: center;
}
.faq__box h4{
    font-family: acuminPro;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    margin: auto 0;
    display: block;
    position: relative;
}
.faq__box svg{
    color: var(--white);
    margin-left: auto;
    cursor: pointer;
}
/* desplegable */
.faq__answer{
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.faq__active.active .faq__answer{
    height: 150px;
}

/* Swiper custom */
.swiper-custom {
    margin-top: 5%;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 24px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #2A334E 80%);
    z-index: 1;
}

.swiper-slide p {
    color: var(--white);
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
    z-index: 1;
}

.swiper-slide img {
    display: block;
    width: 305px;
    height: 400px;
    object-fit: cover;
}
.swiper-button-prev, .swiper-button-next {
    top:unset !important;
    bottom:-80px;
    position: absolute;
    background-color: var(--black);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.swiper-button-prev::after, .swiper-button-next::after{
    color: var(--white);
    font-size: 18px;
}

.swiper-button-prev{
    left: 0;
}

.swiper-button-next {
    right: auto;
    left: 45px;
}

/* swiperCustom2 */
.clients swiper-slide:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #ffffff 80%);
    z-index: 1;
}

.clients swiper-slide p {
    color: var(--white);
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
    z-index: 1;
}

.clients swiper-slide img {
    display: block;
    width: 1000px;
    height: 400px;
    object-fit: cover;
}