:root{
    --darkBlue: #131829;
    --blue: #2A334E;
    --black: #212121;
    --white: #ffffff;
    --darkGray: #373737;
    --fontPrincipal: 'acumin-pro', sans-serif;
}

/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;  /* Con esto el padding no afectará al tamaño del elemento*/
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: var(--fontPrincipal);
    background-color: var(--darkGray);
}
h1,h2,h3,p{
    color: var(--white);
}
.container{
    max-width: 128rem;
    margin: 0 auto ;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.boton{
    background-color: #1257E0;
    color: var(--white);
    text-decoration: none;
    padding: 1rem 1rem;
    font-weight: bold;
    border-radius: .4rem;
    text-align: center;
}
.boton__secundario{
    background-color: transparent;
    color: var(--white);
    text-decoration: none;
    padding: 1rem 1rem;
    font-weight: bold;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    text-align: center;
}

/* Navegacion principal */
.nav-bg{
    background-color: var(--darkBlue);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.nav-principal{
    
}

.nav-list{
}

.nav-list a{
    color: var(--white);
    text-decoration: none;
    margin: 0 1.5rem;
}

/* Hero */

.hero{
    background-image: url(../img/Guardia-de-Seguridad-OSC.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    padding-top: 77.7px;
}

.contenido-hero{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2,1fr);
    max-width: 128rem;
    margin: 0 auto ;
}

.first-section{
    max-width: 64rem;
}

.first-section h2{
    display: flex;
    font-size: 3.7rem;
    background-color: var(--blue);
    margin-bottom: 0;
    padding: 10px;
}
.first-section p{
    font-size: 21px;
}
.botones__hero{
    display: flex;
    gap: 1rem;
}
.botones__hero a{
    display: flex;
    width: 26%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Servicios */

.servicios h2,h3{
    margin: 0;
}
.servicios h2{
    font-size: 43px;
}
.servicios h3{
    text-transform: uppercase;
    font-size: 18px;
}

/* Slider */

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: left;
    position: relative;
    margin-right: 0;
}

  swiper-slide img {
    display: block;
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-right: 0;
}

swiper-slide p {
    color: #131829;
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
}