:root{
    --darkBlue: #131829;
    --blue: #2A334E;
    --darkBlue: #131829;
    --lightBlue: #3E4C74;
    --black: #212121;
    --white: #ffffff;
    --darkGray: #373737;
    --fontPrincipal: 'acumin-pro', sans-serif;
}

/* Fonts */
@font-face {
    font-family: acuminPro;
    src: url(../fonts/AcuminPro.otf);
}
@font-face {
    font-family: acuminProBold;
    src: url(../fonts/AcuminPro-Bold.otf);
}
@font-face {
    font-family: acuminProSemiBold;
    src: url(../fonts/AcuminPro-Semibold.otf);
}
@font-face {
    font-family: acuminProLight;
    src: url(../fonts/AcuminPro-Light.otf);
}
@font-face {
    font-family: acuminProMedium;
    src: url(../fonts/AcuminPro-Medium.otf);
}

/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;  /* Con esto el padding no afectará al tamaño del elemento*/
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: acuminPro;
    background-color: var(--darkGray);
}
h1,h2,h3,h4,p{
    color: var(--white);
}
.contenedor {
    width: min(90%, 128rem);
    margin: 0 auto;
}
.nav-container{
    max-width: 128rem;
    margin: 0 auto ;
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}
.boton{
    background-color: #1257E0;
    color: var(--white);
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: .4rem;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}
.boton__secundario{
    background-color: transparent;
    color: var(--white);
    text-decoration: none;
    padding: 1rem 1rem;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
}

/* Navegacion principal */
.nav-bg{
    background-color: transparent;
    transition: background-color 500ms linear;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.nav-bg.scrolled{
    background-color: var(--darkBlue);
    transition: background-color 500ms linear;
    text-shadow: none;
}

.nav-list a{
    color: var(--white);
    text-decoration: none;
    margin: 0 1.5rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
.nav-container li{
    list-style: none;
}
.nav-container a:first-child{
    margin: 0;
}
.nav-container a{
    color: var(--white);
    text-decoration: none;
    margin: 0 1.5rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}


.open-menu {
    display: none;
    cursor: pointer;
}

.hamburger{
    display: none;
}

.navbar{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}
/* Botones menu mobile */

@media (max-width: 1000px) {
    .nav-bg{
        background-color: var(--darkBlue);
    }
    .nav-list{
        display: none;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        top: -100%;
        left: 0;
        gap: 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: left;
        transition: 0.3s;
        padding: 60px 45px;
    }
    @media (max-width: 834px) {
         .nav-menu{
            padding: 60px 25px;
         }
    }
    .navbar{
        display: inline;
       
    }
    .nav-item{
        padding: 30px 0;
    }
    .nav-menu.active{
        top: 5%;
        background-color: var(--darkBlue);
        z-index: -10;
    }
    ul{
        padding-left: revert;
    }
}

/* Hero */

.hero{
    background-image: url(../img/Guardia-de-Seguridad-OSC.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1400px; */
    position: relative;
}
.hero:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, var(--darkGray) 90%), linear-gradient(to left, rgba(0,0,0,0) 50%, var(--darkGray) 110%);
    z-index: 0;
}

.contenido-hero{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2,1fr);
    max-width: 128rem;
    margin: 0 auto ;
    z-index: 1;
}

.first-section{
    max-width: 64rem;
    padding-top: 250px;
    z-index: 1;
}

.first-section h2{
    display: flex;
    font-size: 3.7rem;
    background-color: var(--blue);
    margin-bottom: 0;
    padding: 10px;
    font-family: acuminProBold;
}
.first-section p{
    font-size: 21px;
    font-weight: lighter;
    margin-top: 1rem;
}
.botones__hero{
    display: flex;
    gap: 1rem;
    z-index: 1;
}
.botones__hero a{
    display: flex;
    width: auto;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
}
.boton:hover{
    cursor: pointer;
    color: var(--white);
    background-color: #0b40a9;
    transform: scale(1.05);
    transition: 0.5s all;
}
.boton__secundario:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--white);
    color: black;
    transform: scale(1.05);
    transition: 0.5s all;
}
.botones_swiper1{
    margin-top: -2rem;
}
@media (min-width: 1280px) {
    .contenido-hero{
        max-width: 120rem;
    }
}
@media (max-width: 600px) {
    .first-section{
        max-width: 52rem;
    }
    .first-section h2{
        font-size: 3rem;
    }
    .first-section p{
        font-size: 17px;
    }
}
@media (max-width: 428px) {
    .first-section {
        max-width: 40rem;
        margin: 0 auto;
      }
      .first-section h2{
        font-size: 30px;
    }
    .first-section p{
        font-size: 18px;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    }
    .hero:before {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, var(--darkGray) 90%), linear-gradient(to left, rgba(0,0,0,0) 0%, var(--darkGray) 110%);
    }
}
@media (max-width: 375px) {
    .first-section {
        max-width: 35rem;
      }
      .first-section h2{
        font-size: 24px;
    }
}

/* Servicios */
.servicios_titulos{
    margin-bottom: 5%;
}
.servicios_titulos h2,h3{
    margin: 0;
}
.servicios_titulos h2{
    font-family: acuminProBold;
    font-size: 43px;
    margin-bottom: -5rem;
}
.servicios_titulos h3{
    font-size: 18px;
    margin-bottom: .5rem;
}

.servicios{
    padding: 25% 0 10% 0;
    z-index: 1;
}
@media (max-width: 768px) {
    .servicios_titulos h2{
        font-size: 31px;
    }
}
@media (max-width: 500px) {
    .servicios_titulos h2{
        margin-bottom: -3rem;
    }
}
/* Swiper custom */
.swiper-custom {
    position: relative;
}

.swiper-slide {
    font-size: 24px;
    background: #fff;
    cursor: pointer;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    transition: 0.5s;
}

.swiper-slide:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #2A334E 80%);
    z-index: 1;

    transition: 0.5s;
}
.swiper-slide:hover:before{
    background: #2A334E;
    opacity: 95%;
    transition: 1s;
    animation-delay: 0.5s;
}
.servicios-swiper-text{
    color: var(--white);
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
    z-index: 1;
}
.servicios-swiper-text ul{
    display: none;
    font-size: 14px;
}
.swiper-slide:hover .servicios-swiper-text ul{
    display: block;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botones_swiper1{
    bottom: -40px;
    position: absolute;
}
.botones_swiper1 .swiper-button-prev, .swiper-button-next {
    top:unset !important;
    position: absolute;
    background-color: #000;
    height: 30px;
    width: 30px;
    border-radius: 4px;
}
.bottom-80{
    bottom: -30px !important;
}
.botones_swiper1 .swiper-button-prev::after, .swiper-button-next::after{
    color: var(--white);
    font-size: 18px;
}

.botones_swiper1 .swiper-button-prev{
    left: 0;
}

.botones_swiper1 .swiper-button-next {
    right: auto;
    left: 45px;
}

.mySwiper1{
    margin-right: 0;
}
@media (max-width: 1366px) {
    .hero{
        background-size: auto;
    }
    .hero:before {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, var(--darkGray) 90%), linear-gradient(to left, rgba(0,0,0,0) 30%, var(--darkGray) 100%);
    }
}
@media (max-width: 1280px) {
    .contenido-hero{
        padding: 0 5%;
    }
}
@media (max-width: 834px) {
    .hero{
        background-size: auto;
        background-position-x: -350px;
        background-position-y: 75px;
    }
    .swiper-custom{
        margin-top: 10%;
    }
}
@media (max-width: 768px) {
    .hero{
        background-position-x: -415px;
    }
}
@media (max-width: 600px) {
    .hero{
        background-position-x: -580px;
    }
    .hero:before {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, var(--darkGray) 90%), linear-gradient(to left, rgba(0,0,0,0) 10%, var(--darkGray) 100%);
    }
    .servicios_titulos h2{
        font-size: 24px;
    }
}
@media (max-width: 428px) {
    .hero{
        background-position-x: -650px;
    }
    .hero:before {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, var(--darkGray) 90%), linear-gradient(to left, rgba(0,0,0,0) 10%, var(--darkGray) 100%);
    }
    .servicios_titulos h2{
        font-size: 28px;
    }
    .swiper-custom{
        margin-top: 18%;
    }
    .servicios_titulos{
        margin-bottom: 15%;
    }
}
@media (max-width: 375px) {
    .hero{
        background-position-x: -580px;
    }
    .servicios{
        padding: 25% 0 20% 0;
    }
    .servicios_titulos h2{
        font-size: 24px;
    }
}

/* Important numbers */
.important-numbers{
    padding: 60px 0;
}
.important-numbers__1{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    text-align: left;
    align-items: center;
    gap: 10%;
}
.important-numbers h2{
    font-family: acuminProBold;
    font-size: 43px;
}
.important-numbers p{
    font-family: acuminProLight;
    font-size: 18px;
}

.important-numbers__2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    text-align: center;
    gap: 7rem;
}
.important-numbers__2 h2{
    font-family: acuminProBold;
    font-size: 60px;
}
.important-numbers__2 p{
    font-family: acuminProLight;
    font-size: 16px;
}
.counter{
    display: flex;
    justify-content: center;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 3rem 0;
}

@media (max-width: 1280px) {
    .important-numbers h2{
        font-size: 33px;
    }
    .important-numbers p{
        font-size: 17px;
    }
}
@media (max-width: 834px) {
    .important-numbers__1{
        display: inline;
    }
    .important-numbers__1 br{
        display: none;
    }
    .important-numbers__2{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1,1fr);
    }
    .important-numbers__2 section{
        width: 275px;
        margin-bottom: -50px;
    }
    .important-numbers__2 h2{
        font-size: 45px;
    }
}
@media (max-width: 768px) {
    .important-numbers__2 h2{
        font-size: 45px;
    }
}
@media (max-width: 600px) {
    .important-numbers h2{
        font-size: 24px;
    }
    .important-numbers p{
        font-size: 16px;
    }
    .important-numbers__2 h2{
        font-size: 45px;
    }
}

/* Clients */
/* swiperCustom2 */
.clients .swiper-slide {
    background-color: var(--blue);
}
.clients .swiper-slide:before {
    background: none;
}
.clients .swiper-text{
    display: flex;
    padding: 60px 0;
    max-width: 128rem;
    margin: 0 auto;
    gap: 3%;
}
.clients .swiper-text-title{
    margin-bottom: auto;
    min-width: 350px;
}
.clients .swiper-text-body{
    width: auto;
}
.clients .swiper-text h2 {
    font-family: acuminProBold;
    font-size: 31px;
}
.clients .swiper-text h3 {
    font-family: acuminProLight;
    font-size: 18px;
    margin-bottom: 1rem;
}
.clients .swiper-text p {
    font-size: 18px;
    font-family: acuminProLight;
    position: relative;
    bottom: 0;
    margin-left: 0;
}

.btns-slider-custom .swiper-button-prev, .swiper-button-next {
    top:unset !important;
    position: absolute;
    background-color: #000;
    height: 30px;
    width: 30px;
    border-radius: 4px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0;
    right: 0;
    margin-left: 0;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0;
    left: 0;
  }  
.btns-slider-custom{
    background-color: var(--blue);
    height: 6rem;
}
.btns-slider-custom-content{
    max-width: 128rem;
    margin: 0 auto;
}
.btns-slider-custom .swiper-button-prev::after, .swiper-button-next::after{
    color: var(--white);
    font-size: 18px;
}
.btns-slider-custom-content .swiper-button-next, .swiper-button-prev{
    margin-top: auto;
}
.btns-slider-custom .swiper-button-prev{
    margin-left: 80%;
}

.btns-slider-custom .swiper-button-next {
    margin-left: 85%;
}
.swiper-banner{
    position: relative;
}
.clients .swiper-banner-text{
    position: absolute;
    bottom: 0;
    left: 8%;
}
.clients .swiper-banner-text-content{
    width: 250px;
    height: 113px;
    background: var(--lightBlue);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.clients .swiper-banner-text-content b{
    font-size: 45px;
    font-family: acuminPro;
    font-weight: 600;
}
.clients .swiper-banner-text-content h4{
    font-size: 14px;
    font-family: acuminProLight;
    line-height: 20px;
    margin-top: revert-layer;
}
@media (max-width: 1366px) {
    
    .clients .swiper-banner-text{
        left: 40px;
    }
    
}
@media (max-width: 1280px) {
    
    .clients .swiper-text{
        max-width: 108rem;
        gap: 10%;
    } 
    
}
@media (max-width: 834px) {
    
     .swiper-banner-text{
        display: none;
     }
     
    .clients .swiper-text{
        max-width: 75rem;
        display: block;
    }
    
}

@media (max-width: 600px) {
    .btns-slider-custom .swiper-button-prev{
        margin-left: 78%;
    }
}
@media (max-width: 428px) {

   .clients .swiper-text-body p{
        font-size: 16px;
    }
   .btns-slider-custom .swiper-button-prev{
    margin-left: 75%;
    }
    .clients .swiper-text-title{
        min-width: auto;
    }
}

/* about us */
.about-content{
    display: flex;
    padding: 80px 0;
    justify-content: center;
    align-items: center;
}
.logo-png{
    position: absolute;
    z-index: 20;
    margin-left: -100px;
    margin-top: -85px;
} 
.collage-img{
    position: relative;
    width: 500px;
    height: 629.53px;
}
.about-text{
    display: grid;
    gap: 15px;
    margin-left: 60px;
}
.about-text h3{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: -1rem;
}
.about-text h2{
    font-family: acuminProBold;
    font-size: 43px;
    margin-bottom: -1rem;
}
.about-text p{
    font-family: acuminProLight;
    font-size: 18px;
}
.soluciones{
    width: auto;
}
.soluciones h4{
    font-family: acuminProBold;
    font-size: 21px;
    margin-bottom: -.1rem;
}
.soluciones svg{
    color: #00EC7B;
    margin-bottom: .5rem;
}
.soluciones__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: auto;
    height: auto;
}
.soluciones_title{
    display: flex;
    gap: .5rem;
}
.soluciones_check{
    margin: auto 0;
}
.soluciones_text{
    margin: auto 0;
}

@media (max-width: 1280px) {
    .logo-png{
        width: 143.85px;
        height: 140px;
        margin-left: -74px;
    }
}
@media (max-width: 1100px) { /* 834 px en realidad */
    .logo-png{
        display: none;
    }
    .collage-img{
        display: none;
    }
    .about-text{
        margin-left: 0;
    }
    .about-text br{
        display: none;
    }
    .about-text h2{
        font-size: 31px;
    }
}
@media (max-width: 600px) {
    .about-text h2{
        font-size: 24px;
    }
}
@media (max-width: 428px) {
    .about-text p {
        font-size: 16px;
    }
    .soluciones h4 {
        font-size: 18px;
    }
}
@media (max-width: 375px) {
    .about-text h2 {
        font-size: 24px;
    }
}

/* our clients */
.our_clients{
    background-color: var(--blue);
}
.our_clients__content{
    display: flex;
    padding: 60px 0;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.our_clients__title{
    width: auto;
    height: auto;
    margin: 2rem 0;
    display: grid;
}
.our_clients__title h2{
    font-family: acuminProBold;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    line-height: 35px;
}
.our_clients__title h3{
    grid-column: 1 / 3;
    font-size: 18px;
    margin-top: auto;
}
.our_clients__logos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    width: auto;
    height: auto;
    align-items: center;
}
.our_clients__logos img{
    margin: auto;
}

@media (max-width: 1280px) {
    .our_clients__content{
        display: block;
    }
}
@media (max-width: 834px) {
    .our_clients__title{
        width: none;
        margin: 0 auto 2rem auto;
    }
    
    .our_clients__logos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        align-items: center;
    }
}
@media (max-width: 768px) {
    .our_clients__title h2{
        font-size: 31px;
    }
}
@media (max-width: 600px) {
    .our_clients__title h2{
        font-size: 24px;
    }
}
@media (max-width: 428px) {
    .our_clients__title h3{
        font-size: 16px;
    }
    .our_clients__logos{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
        height: 1000px;
    }
}
@media (max-width: 375px) {
    .our_clients__title h3{
        font-size: 14px;
    }
    .our_clients__logos{
        height: 800px;
    }
}

/* faq */
.faq__content{
    padding: 60px 0;
}
.faq__titles{
    display: grid;
    text-align: center;
    align-items: center;
}
.faq__titles h3:nth-child(2){
    display: none;
}
@media (min-width: 1280px) {
    .faq__titles{
        text-align: left;
    } 
    .faq__titles h3:first-child{
        display: none;
    }
    .faq__titles h3:nth-child(2){
        display: block;
    }
}
.faq__titles h2{
    font-family: acuminProBold;
    line-height: 30px;
}

.faq__titles h3{
    display: block;
    font-family: acuminPro;
    line-height: 22px;
    font-size: 18px;
}
.faq__boxes{
    position: relative;
}
.faq__box{
    display: flex;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    padding: 15px;
    margin: 15px 0;
    align-items: center;
    cursor: pointer;
    gap: 1%;
}
.faq__box h4{
    font-family: acuminPro;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    margin: auto 0;
    display: block;
    position: relative;
}
.faq__box svg{
    color: var(--white);
    margin-left: auto;
    cursor: pointer;
    width: 23px;
    height: 23px;
}
.faq__box img{
    color: var(--white);
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}
/* desplegable */
.faq__answer{
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.faq__active.active .faq__answer{
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    margin-top: -1.5rem;
    text-align: left;
    padding: 15px;
    height: auto;
    font-size: 18px;
    font-weight: 400;
}
.faq__active.active .faq__box{
    background-color: #1257E0;
    border: none;
}
.faq__active.active .icon-tabler-square-rounded-plus-filled{
    display: none;
}
.icon-tabler-square-rounded-minus{
    display: none;
}
.faq__active.active .icon-tabler-square-rounded-minus{
    display: block;
}
.margin-left-faq{
    margin-left: auto;
}
@media (max-width: 600px) {
    .faq__titles h2 {
        font-size: 24px;
      }
}
/* call us */
.call-us{
    background-color: var(--blue);
}
.call-us-content{
    padding: 60px 0;
}
.call-us-first-section{
    display: flex;
}
.call-us-title{
    display: flex;
    justify-content: left;
    text-align: center;
}
.call-us-title h3{
    font-family: acuminProBold;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
}
.call-us-title a{
    margin-left: auto;
}
.botones__call-us a{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
}
.call-us .solid{
    margin-top: 15px;
    margin-bottom: 10px;
}
.call-us-text{
    width: 586px;
}
.call-us-text p{
    font-family: acuminProLight;
}
@media (max-width: 856px) {
     .call-us-first-section{
        display: block;
     }
}
@media (max-width: 768px) {
    .call-us-title h3{
        font-size: 31px;
    }
}
@media (max-width: 600px) {
    .call-us-title{
        display: inline;
        text-align: left;
    }
    .call-us-title h3{
        font-size: 24px;
    }
}

/* contact */
.contact{
    background-color: var(--darkGray);
}
.contact-content{
    display: flex;
    padding: 60px 0;
    gap: 10%;
}
.contact-text{
    width: auto;
    height: auto;
}
.contact-text h3{
    font-family: acuminPro;
    font-weight: 400;
    font-size: 18px;
}
.contact-text h2{
    font-family: acuminProBold;
    font-weight: 700;
    font-size: 43px;
}
.contact-text p{
    font-family: acuminProLight;
    font-weight: 400;
    font-size: 18px;
}
.contact-mail{
    display: flex;
}
.contact-mail svg{
    color: var(--white);
    width: 30px;
    height: 25px;
    margin: auto 0;
}
.contact-mail p{
    margin: auto 0;
}
.contact-boton{
    margin-left: auto;
    display: flex;
    align-items: center;
}
@media (max-width: 856px) {
     .contact-boton{
        margin-top: 1rem;
     }
}
@media (max-width: 834px) {
    .contact-content{
        max-width: 75rem;
        display: block;
    }
    .contact-text{
        height: auto;
    }
}
@media (max-width: 768px) {
    .contact-text h2{
        font-size: 31px;
    }
}
@media (max-width: 600px) {
    .contact-text h3{
        font-size: 16px;
    }
    .contact-text h2{
        font-size: 24px;
    }
    .call-us-text {
        width: auto;
      }
}
@media (max-width: 428px) {
    .contact-text{
        width: auto;
    }
    .contact-text h2{
        font-size: 24px;
    }
}

/* footer */
footer{
    background-color: var(--blue);
}
.footer-content{
    padding: 60px 0;
}
.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 96px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}
.footer-logo img{
    width: 225px;
    height: 45px;
}
.footer-text a{
    font-family: acuminProLight;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    text-decoration: none;
}
.footer-text h3{
    font-family: acuminPro;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
}

.footer-secciones{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
}
.footer-legales{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
}
.footer-down{
    background-color: var(--darkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}
.footer-down p{
    margin: auto 0;
    font-family: acuminProLight;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media (max-width: 834px) {
    .footer-text a{
        font-size: 15px;
    }
}
@media (max-width: 834px) {
    .footer-text{
        display: inline;
    }
    .footer-secciones{
        margin-top: 30px;
    }
    .footer-legales{
        margin-top: 30px;
    }
}
@media (max-width: 375px) {
    .footer-down p{
        font-size: 14px;
    }
}



